@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*10 px */
  
  --font-01:'Poppins', sans-serif;;
  --font-02: 'Shadows Into Light', cursive;

  --color01:#ffffff;
  --color02:#FF406F;
}

html, body{
  background: darkmagenta url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: left;

  font-size: 1.6rem;
  font-family:var(--font-01);
  color: var(--color01);
  
  width: 100vw;
  height: 100vh;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

section#login {
  width: 35rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.150);
  backdrop-filter: blur(5px);

  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius: 15px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.581);

  transition: width 300ms, heigth 300ms;
  transition-timing-function: ease;
}

form h1 {
  display: flex;
  justify-content: center;

  font-size: 3.4rem;
  font-weight: 600;

  padding-top: 3rem;
}

.campo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.250);

  font-size: 2rem;


  width: 80%;
  height: 5rem;
  
  margin: auto;
  margin-bottom: 1.5rem;
  padding: 5px;
  
  border: 1px solid var(--color01);
  border-radius: 4rem;
}

.campo:first-of-type {
  margin-top: 3rem;
}

.campo input {
  width: 85%;
  
  background-color: transparent;
  
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color01);

  border: none;
  outline: none;

  padding: 10px;
}

.campo i {
  padding-left: 0.5rem;
}

::-webkit-input-placeholder{
  color: var(--color01);
}

:-moz-placeholder {
  color: var(--color01);
}

#check {
  width: 80%;
  
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--color01);

  margin: auto;
}

#check a {
  color: var(--color01);
  text-decoration: none;

  border-radius: 8px;
}

#check a:focus,
#social a:focus,
.singup a:focus {
  
  outline: 2px solid var(--color02);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.452);

  transition: all 100ms;
}

#check a:hover {
  color: rgba(255, 255, 255, 0.500);
  text-decoration: underline;
}

#checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

}

#checkbox input{
  accent-color: #ffffff;
}

#checkbox input:focus {
  box-shadow: 0 0 5px white;
  outline: none;
}

input[type=submit] {
  display: block;
  
  width: 80%;
  height: 5rem;

  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
  
  border: none;
  border-radius: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.188);
  margin: auto;
  margin-top: 3rem;

}

input[type=submit]:hover {
  color: white;
  background-color: var(--color02);
}

input[type=submit]:focus{
  outline: 3px solid var(--color02);
}

#social p{
  font-size: 2rem;
  font-weight: 400;
  text-align: center;

  padding-top: 3rem;
}

#social ul {
  display: flex;
  gap: 8px;
  justify-content: center;


  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 5rem;

}

#social a{
  display: flex;
  border-radius: 50%;
}

#social a:hover{
  border: 2px solid var(--color02);
}

img{
  width: 50px;

  border-radius: 50%;
}

.singup {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  font-weight: 400;
}

.singup a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color02);
  margin-left: 1rem;

  border-radius: 8px;
}

.singup a:hover{
  color: #ff537e;
  text-decoration: underline;
}

.name{
  font-family: var(--font-02);
  color: rgba(255, 255, 255, 0.586);
  font-size: 2rem;

  position: absolute;
  bottom: 3vh;
}
